
        <table border="1">
            <tr>
                <td> Student Name </td>
                <td>alam</td>
            <tr>
            <tr>
                <td> Student Roll </td>
                <td>158655</td>
            <tr>
        </table>

        <br>


        <table border="1">
            <tr>
                <td>Bangla</td>
                <td>80</td>
                <td>A+</td>
            </tr>

            <tr>
                <td>Enlish</td>
                <td>62</td>
                <td>A-</td>
            </tr>

            <tr>
                <td>Math</td>
                <td>55</td>
                <td>A</td>
            </tr>
        </table>


        <table border="1">
            <tr>
                <td> Student Name </td>
                <td>Didar</td>
            <tr>
            <tr>
                <td> Student Roll </td>
                <td>545545</td>
            <tr>
        </table>

        <br>


        <table border="1">
            <tr>
                <td>Bangla</td>
                <td>25</td>
                <td>F</td>
            </tr>

            <tr>
                <td>Enlish</td>
                <td>85</td>
                <td>A+</td>
            </tr>

            <tr>
                <td>Math</td>
                <td>55</td>
                <td>A</td>
            </tr>
        </table>

